#logo {
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
}

.wrapper {
    margin: 15px;
}

.square {
    width: 200px;
    height: 200px;
    background-color: red;
}

.hidden {
    width: 200px;
    height: 200px;
    background-color: green;
    // visibility: hidden;
    // opacity: 0;
    // display: none;
}
